body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #f5f5f5;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav a {
    color: #a073ff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

#bio, #biography, #publications, #projects {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.sidebar {
    width: 250px;
    background-color: #282828;
    padding: 20px;
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    height: 100vh; /* Full height */
    overflow: auto; /* If content overflows, allow scrolling in the sidebar */
}

.sidebar img {
    max-width: 100%;
    border-radius: 10px;
}

.sidebar h2 {
    color: #a073ff;
    font-size: 18px;
    margin: 10px 0;
}

.sidebar p {
    font-size: 14px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li::before {
    content: "• ";
    color: #a073ff;
}

.main-content {
    flex: 1;
    margin-left: 270px; /* Adjust for the sidebar width */
    padding: 20px;
}

#biography {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}

#biography h2 {
    font-size: 24px;
    color: #a073ff;
}

#biography p {
    line-height: 1.6;
}

#publications, #projects {
    width: 100%;
    margin-top: 30px;
}

#publications h2, #projects h2 {
    font-size: 24px;
    color: #a073ff;
}

.publication-item, .project-item {
    display: flex;
    flex-wrap: wrap;
    background-color: #222;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.publication-item img, .project-item img {
    max-width: 100px;
    margin-right: 20px;
}

.publication-details, .project-details {
    flex-grow: 1;
}

.publication-details h3, .project-details h3 {
    color: #a073ff;
    margin: 0 0 10px 0;
}

.publication-details p, .project-details p {
    font-size: 14px;
    color: #ccc;
}

.icons a {
    background-color: #a073ff;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
}

.icons a:hover {
    background-color: #784de3;
}

footer {
    background-color: #333;
    color: #f5f5f5;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

